page-assignment {

  .assignment-header {
    background: url('../assets/imgs/Puzzle/Header.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin:auto;
    height:140px;
  }

  // --------- types bar ---------
  .content-row, .item-list { height: 100%; }

  .types-bar {
    padding: 0 !important;
  }

  .types-list {
    border: 4px solid #532409;
    height: 100%;
    margin: 0;
    background: #AA703F;
  }

  .label-md {
    margin: 0;
  }

  .type-item .label-md {
    border-bottom: 4px solid #532409 !important;
  }

  .type-button{
    height: 61px;
  }

  .item-inner {
    padding: 0 !important;
  }

  .type-item {
    padding: 0 !important;
    background: #AA703F;
  }

  .type-item:nth-child(even) {
    background: #C88E5E;
  }

  //  --------- button bar ---------
  .border-right {
    border-right: 1px solid black;
  }

  .button-header {
    border: 1px solid black;
  }

  //  --------- content ---------
  .puzzle-content {
    background: url('../assets/imgs/QuestionsAndAnswers/Background.png');
    background-size: 100%;
    background-repeat: repeat-y;
    width: 100%;
  }

  .content-row {
    background: url('../assets/imgs/cork.png');
  }

  .yellow {
    background-color: #FDF3C8;
  }
}
