page-timeline {

  .posts-header{
    background: url('../assets/imgs/kidsee-logo.png');
    background-size: auto 160px;
    background-repeat: no-repeat;
    background-position-x: center;
    margin:auto;
    height: 160px;
  }

  .comment-button {
    float:left;
  }

  .yellow {
    background-color: #FDF3C8;
  }

  .button-header {
    border: 1px solid black;
  }

  .rating-icon {
    float: left;
  }

  .border-right {
    border-right: 1px solid black;
  }

  .posts-content {
    background: url('../assets/imgs/QuestionsAndAnswers/Background.png');
    background-size: 100%;
    background-repeat: repeat-y;
    width: 100%;
  }

  .posts-row {
    text-align: center;
  }

  .light-brown {
    color: #54330F;
  }

  .rated {
    color: deepskyblue;
  }

  .magnifying-glass {
    height: 30px;
    width: 50px;
  }

  .center {
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
