<ion-content>
  <ion-row class="assignment-header">
    <ion-col col-2>
      <img src="assets/imgs/back-arrow.png" class="back-button" (click)="back()" />
    </ion-col>
  </ion-row>
  <ion-row class="detail-content">
    <ion-list>
      <ion-card class="card-content" class="yellow">
        <ion-card-header>
            <ion-card-title> {{assignment?.name}}</ion-card-title>
            <img *ngIf=assignmentType class="brown card-icon" src="assets/imgs/AssignmentTypes/{{ assignmentType.name }}.png">
            <ion-note class="italic brown-text">
              {{assignment?.location?.name}}
            </ion-note>
        </ion-card-header>
        <ion-card-content>{{assignment?.content}}
          {{answerType?.name}}
          <answer-type-multiple-choice *ngIf="answerType?.name == 'multiple_choice'">
          </answer-type-multiple-choice>
          <answer-type-number *ngIf="answerType?.name == 'number'">
          </answer-type-number>
          <answer-type-text *ngIf="answerType?.name == 'text'">
          </answer-type-text>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-row>
</ion-content>