<base-header title="{{'personal' | translate}}"></base-header>

<ion-content padding class="under-nav-margin">
    <ion-list>
        <ion-card *ngFor="let post of posts" (click)="gotoPost(post.id)">
            <ion-card-header>{{post.user.username}}</ion-card-header>
            <ion-card-title>{{post.title}}</ion-card-title>
            <ion-card-content>{{post.content}}</ion-card-content>
            <button *ngIf="post.comments != undefined || post.comments.length == 0" ion-button icon-left clear small>
                <ion-icon name="text"></ion-icon>
                <div>{{post.comments.length}} Comments</div>
            </button>
        </ion-card>
    </ion-list>
</ion-content>
<ion-fab bottom right >
    <button ion-fab color="secondary">
        <ion-icon name="add-circle"></ion-icon>
    </button>
</ion-fab>