answer-type-number {
  .yellow {
    background-color: #FDF3C8 !important;
  }

  .brown {
    background-color: #753800 !important;
  }

  .number-input{
    border-bottom: 1px solid #753800 !important;
  }

  .fill-in-button{
    margin-top: 8% !important;
    margin-bottom: 4% !important;
    float: right !important;
  }
}
