timeline-container {
    position: fixed;
    bottom: 180px;
    left: 0px;
    width: 100%;

    div {
        height: 100%;
    }

    h3 {
        padding-left: 5%;
        margin: 0 0 0 0;
    }

    .transparent{
        background-color: transparent;
    }

    .comment-button {
        float:left;
    }

    .yellow {
        background-color: #FDF3C8;
    }

    .rating-icon {
        float: left;
    }

    .light-brown {
        color: #54330F;
    }

    .rated {
        color: deepskyblue;
    }
}
