  <ion-row>
    <ion-col col-10>
      <button ion-button (click)="openTimelinePage()">{{'timeline' | translate}}</button>
    </ion-col>
    <ion-col col-1>
      <button (click)="open()">
        <ion-icon name="resize"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-1>
      <button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-content>
    <ion-list>
        <ion-card *ngFor="let post of posts" (click)="gotoPost(post)">
            <ion-card-header>
                <ion-card-title>{{post?.title}}</ion-card-title>
                <ion-note class="italic">
                    {{'posted_by' | translate}}{{post.user.username}}
                </ion-note>
            </ion-card-header>
            <ion-card-content>{{post?.content}}</ion-card-content>
            <button ion-button icon-left clear small>
                <ion-icon name="text"></ion-icon>
                <div>{{post?.comments?.length || 0}} {{'comments' | translate}}</div>
            </button>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
