timeline-container {
    position: fixed;
    bottom: 180px;
    left: 0px;
    width: 100%;

    div {
        height: 100%;
    }

    .post-list {
        height: 100%;
        overflow-y: scroll;
        margin-bottom: 0;
    }

    h3 {
        padding-left: 5%;
        margin: 0 0 0 0;
    }
}
